.ticket_list {
	overflow-y: scroll;
	min-width: 735px;
	height: 85vh;

	&::-webkit-scrollbar {
		background-color: transparent;
		width: 3px;
		margin: 0 5px;
	}

	&:hover::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, 0.1);
	}
}
