.nav_menu {
	align-self: center;
	flex: 0 0 62%;

	&__list {
		&_item {
			margin-bottom: 15px;
			font-size: 0.85em;
			border-radius: 4px;

			&:hover,
			&.active_menu {
				color: #ffffff;
				background-color: var(--primary-orange);
			}

			a {
				padding: 0.7em 1em;
				display: flex;
				align-items: center;
				column-gap: 5px;

				svg {
					width: 1em;
					height: 1em;
				}
			}
		}
	}
}
