.nav_menu {
	&__list {
		&_item {
			margin-bottom: 15px;
			font-size: 0.85em;

			a {
				padding: 0.7em 1em;
				border-radius: 4px;
				display: block;

				&:hover {
					color: #ffffff;
					background-color: var(--primary-orange);
				}
			}
		}
	}
}
