.auto_response {
	height: 100%;

	&_status {
		background-color: var(--green);
		padding: 10px;
		color: #ffffff;
		display: flex;
		justify-content: space-between;
	}

	&_content {
		padding: 15px;
		background-color: var(--gray-blue);
		height: calc(100% - 85px);
		overflow-y: scroll;
	}
}
