.badge {
	border: 1px solid #3b7bff;
	color: #3b7bff;
	font-size: 12px;
	padding: 5px 10px;
	border-radius: 15px;
	display: inline-flex;
	align-items: center;

	.close_btn {
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
	}

	&.badge_shape__square {
		border-radius: 0;
	}

	&.badge_size__sm {
		font-size: 8px;
		font-weight: 500;
		padding: 3px 5px;
	}

	&.badge__high {
		border: 1px solid var(--dark-red);
		color: var(--dark-red);
	}

	&.badge__low {
		border: 1px solid var(--green);
		color: var(--green);
	}

	&.badge__info {
		border: 1px solid var(--info-blue);
		color: var(--info-blue);
	}

	&.badge__neutral {
		border: 1px solid var(--gray-blue);
		color: var(--gray-blue);
	}
}
