.message_box {
	border-radius: 5px;
	padding: 15px 10px;
	flex-basis: 750px;
	min-height: 80px;

	&.message_box__incoming {
		background-color: var(--light-green);
		border: 1px solid var(--green);
	}

	&.message_box__outgoing {
		background-color: var(--light-sky-blue);
		border: 1px solid var(--sky-blue);
	}
}
