:root {
	--primary-orange: #f3963a;
	--primary-teal: #12b3dc;
	--text-color: #6c6f77;
	--gray-blue: #b6bdcf;
	--white: #ffffff;
	--light-orange: #fff4e9;
	--light-red: #ffdfdf;
	--dark-red: #ff3100;
	--info-blue: #3b7bff;
	--dark-blue: #20465b;
	--sky-blue: #1ad0f2;
	--light-sky-blue: #f3fdff;
	--green: #06a400;
	--light-green: #f6fff5;
}

body {
	background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
}

/* ==== RESETS ==== */
*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
img,
small,
strike,
sub,
sup,
tt,
b,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
	display: block;
}

body {
	line-height: 1.2;
	font-size: 16px;
	letter-spacing: 0.5px;
}

h1,
h2,
h3,
h4 {
	font-weight: 700;
	color: var(--dark-blue);
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	margin-bottom: 15px;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input {
	-webkit-appearance: none;
	border-radius: 0;
}
