.ticket_item {
	display: flex;
	align-items: center;
	column-gap: 15px;
	background: #ffffff;
	border: 1px solid #b6bdcf;
	border-radius: 8px;
	padding: 15px;
	margin: 10px 0;
	cursor: pointer;
	transition: all 0.3s ease-in-out;

	.ticket_item_customer_col {
		flex-basis: 10%;
	}

	.ticket_item_content_col {
		flex-basis: 60%;
	}

	.ticket_item_status_details_col {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-basis: 30%;
	}

	.ticket_time {
		color: var(--dark-blue);
		margin-bottom: 10px;
		display: inline-block;
		font-size: 0.65em;
	}

	.ticket_subject {
		color: var(--dark-blue);
		margin-bottom: 10px;
	}

	.ticket_excerpt {
		color: var(--text-color);
		margin-bottom: 10px;
		font-size: 0.8em;
	}

	.ticket_item_info {
		display: flex;
		column-gap: 10px;
	}

	&.ticket_item_intervention_status__medium {
		background-color: var(--light-orange);
		border: 1px solid var(--primary-orange);
		transition: border-color 0.7s, background-color 0.7s;

		&:hover {
			animation: pulseOrange 1s infinite;
		}
	}

	&.ticket_item_intervention_status__high {
		background-color: var(--light-red);
		border: 1px solid var(--dark-red);
		transition: border-color 0.7s, background-color 0.7s;

		&:hover {
			animation: pulseRed 1s infinite;
		}
	}

	&:hover {
		background-color: #edfffc; //temporary
		border: 1px solid var(--info-blue);
		transition: all 0.2s ease-in-out;
	}
}

@keyframes pulseOrange {
	0% {
		border-color: var(--info-blue);
		background-color: #edfffc;
	}
	50% {
		border-color: var(--primary-orange);
		background-color: var(--light-orange);
	}
	100% {
		border-color: var(--info-blue);
		background-color: #edfffc;
	}
}

@keyframes pulseRed {
	0% {
		border-color: var(--info-blue);
		background-color: #edfffc;
	}
	50% {
		border-color: var(--dark-red);
		background-color: var(--light-red);
	}
	100% {
		border-color: var(--info-blue);
		background-color: #edfffc;
	}
}
