.notification_item {
	display: block;
	padding: 10px 0;

	&__header {
		display: flex;
		align-items: center;
		column-gap: 10px;

		.notification_originator,
		.notification_type {
			font-size: 0.8em;
		}

		.notification_type {
			color: var(--gray-blue);
		}
	}

	&__body {
		margin: 10px;

		.notification_content {
			font-size: 0.8em;

			.notification_preview {
				&.notification_preview__ticket {
					border: 1px solid var(--gray-blue);
					border-radius: 4px;
					padding: 5px;
					p {
						margin-bottom: 0;
					}
				}
			}
		}

		.notification_date_time {
			display: block;
			font-size: 0.7em;
			float: right;
			margin-top: 5px;
		}
	}

	&:hover {
		background-color: #f5f5f5;
	}
}
