.select_field {
	font-size: 0.85em;
	position: relative;

	&_input {
		border: 1px solid var(--gray-blue);
		border-radius: 4px;
		padding: 6px 10px;
		outline: none;
		cursor: pointer;

		.select_title {
			color: var(--gray-blue);
			font-weight: 700;
		}
	}

	.options_box {
		display: none;
		position: absolute;
		background-color: var(--white);
		width: 100%;
		padding: 5px;
		border-left: 1px solid var(--gray-blue);
		border-right: 1px solid var(--gray-blue);
		border-bottom: 1px solid var(--gray-blue);
		z-index: 10;

		.options_list {
			li {
				padding: 5px 5px;
				cursor: pointer;
				&:hover {
					background-color: var(--gray-blue);
				}
			}
		}

		&.options_box__open {
			display: block;
		}
	}
}
