.notifications {
	position: relative;

	.notification_bell {
		background-color: transparent;
		outline: none;
		border: none;
		cursor: pointer;

		svg {
			width: 30px;
			height: 30px;
			color: var(--primary-orange);
		}

		&__count {
			position: absolute;
			top: 0;
			right: 0;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background-color: var(--dark-red);
			color: #ffffff;
			font-size: 0.8em;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

.notifications_dropdown {
	position: absolute;
	top: 50px;
	right: 5px;
	width: 350px;
	background-color: #ffffff;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	z-index: 10;

	h3 {
		border-bottom: 1px solid var(--gray-blue);
		margin-bottom: 10px;
		padding-bottom: 5px;
	}

	&__footer {
		border-top: 1px solid var(--gray-blue);
		margin-top: 5px;
		padding: 5px 0;
	}

	&::before {
		content: '';
		position: absolute;
		top: -15px;
		right: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 15px 30px 15px;
		border-color: transparent transparent #ffffff transparent;
	}
}
